<div class="login-container">
    <form class="login-form">
      <h2>Login</h2>
      <div class="form-group">
        <label for="text">Usuario</label>
        <input type="text" id="usuario" placeholder="Usuario" [(ngModel)]="usuario"/>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" placeholder="Digite sua senha"  [(ngModel)]="senha"/>
      </div>
      <button type="submit" class="btn" (click)="logar()" >Entrar</button>
    </form>
  </div>
  